
.text-content {
    display: flex; /* Stack text vertically */
    flex-direction: column; /* Stack elements vertically */
    text-align: left; /* Align text to the left */
}

#about {
    padding: 20px;
}

.about-container {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.about-image {
    width: 190px; /* Adjust size as needed */
    height: auto;
    border-radius: 10px; /* Optional: to round the corners */
}

.project {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}