html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* This allows the main content to grow and take up available space */
}

.container {
    width: 100%;
    margin: 0 auto; /* Center the content */
    padding: 5px 30px; /* Add padding */
    background-color: #000; /* Black background */
}

.row {
    display: flex;
    align-items: center; /* Vertically align items */
    width: 90%; /* Full width */
}

/* Title with name and tooltips bellow */
.col_title_text {
    display: flex; /* Add this line */
    flex-grow: 0;
    margin-right: 250px;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center items horizontally */
    color: #fff; /* White text color */
    font-size: 12px; /* Set font size */
}

.col_title_text h1 {
    margin: 0; /* Adjust margin for the heading */
    padding-top: 5px;
}

.col_title_text p {
    text-align: center; /* Center text within the paragraph */
    padding-top: 10px;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; /* Position above the text */
    left: 90%;
    transform: translateX(-50%);
    background-color: rgba(0, 59, 56, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap; /* Prevent text wrapping */
    opacity: 1;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%; /* Position above the text */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s;
}

.col_menu_main {
    flex-grow: 0;
    margin-right: auto;
}

/* Menu styling */
.sf-menu {
    display: flex; /* Display menu items in a row */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sf-menu li {
    margin-right: 30px; /* Space between menu items */
}

.sf-menu a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* White link color for visibility on black background */
    font-weight: 500; /* Set link font weight */
}

.sf-menu a:hover {
    color: #0056b3; /* Blue link on hover */
}

.sf-menu li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

/* Button styling */
.button_solid_color_2 a {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 15px; /* Button padding */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.button_solid_color_2 a:hover {
    background-color: #0056b3; /* Darken button on hover */
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-title {
    margin: 0;
    font-size: 15px; /* Change this size as needed */
}

.footer-rights {
    margin: 0;
    font-size: 12px; /* Change this size as needed */
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-links a {
    font-size: 2rem;
    color: #ffffff; /* Adjust color as needed */
    text-decoration: none;
}

.social-links a:hover {
    color: #0073b1; /* Change color on hover if desired */
}
